.definitions {
  margin-top: 5px;
}

.word {
  font-weight: bold;
}

.definitionsViewport {
  height: 200px;
  border: 1px solid gray;
  margin-top: 8px;
}

.definitionsViewport div {
  padding: 8px 6px;
  border-bottom: 1px solid lightgray
}

.definitionsViewport p {
  margin: 0;
  color: #333333;
  font-size: 0.8em;
}
