<p *ngIf="!isLoaded">Chargement des définitions...</p>

<div *ngIf="isDefined && isLoaded" class='definitions'>
  <span class="labelDef">Définitions de <span class="word">{{definedWord}}</span> :</span>
  <cdk-virtual-scroll-viewport itemSize="50" class='definitionsViewport'>
    <div *cdkVirtualFor="let def of definitions" class='definitionsItem'>
      <p [innerHTML]="def"></p>

    </div>
  </cdk-virtual-scroll-viewport>
</div>

<p *ngIf="!isDefined && isLoaded">Aucune définition trouvée</p>
