<!--The content below is only a placeholder and can be replaced.-->
<div>
    <h1>
        {{ title }}
    </h1>
    <app-dash-board-view
        *ngIf="displayDashBoard()"
        [parent]="getAppComponent()"
    ></app-dash-board-view>
    <app-game-configuration-view
        *ngIf="displayGameConfig()"
        [parent]="getAppComponent()"
        [hostName]="getUserName()"
    ></app-game-configuration-view>
    <app-game-lobby-view
        *ngIf="displayGameLobby()"
        [parent]="getAppComponent()"
        [playerName]="getUserName()"
    ></app-game-lobby-view>
    <app-game-view
        *ngIf="displayGame()"
        [parent]="getAppComponent()"
    ></app-game-view>
</div>
