<div id="header">
    <h1>Equipe : {{ teamName }}</h1>
    <p>Score total : {{ globalScore }}</p>
    <p>Nombre d'essais total : {{ globalNbTries }}</p>
    <p>Temps de partie : {{ gameTime }}</p>
</div>
<div id="main">
    <div id="players">
        <div *ngFor="let player of players" class="player">
            <img
                src="{{ player.img }}"
                alt="{{ player.badge }}"
                title="{{ player.description }}"
                class="badge"
            />
            <p class="name playerInfo">{{ player.name }}</p>
            <p class="score playerInfo">{{ player.score }} points</p>
            <p class="efficiency playerInfo">
                {{ player.efficiency }}% d'efficacité
            </p>
            <p class="tries playerInfo">{{ player.tries }} essais</p>
        </div>
    </div>
    <div id="global" #globalStats>
        <highcharts-chart
            [Highcharts]="highcharts"
            [options]="chronologie"
            [(update)]="updateChronologie"
        >
        </highcharts-chart>
        <div #barChart></div>
    </div>
</div>
